h1 {
    display:none;
}

body {
    margin:0;
    padding:0;
}

#bccontent {
    padding:0.5em;
    max-width:1200px;
    margin:auto;
}

#bccontent:before {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    opacity: 0.5;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-position: 30% 20%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#bcpage {
    display:flex;
    flex-direction: column;
    margin:0;
}

#bcmenu {
    order:-1;
    border-bottom:1px solid #511;
    padding:0;
    margin:0;
    display:flex;
    align-items:flex-end;
    background-color:rgba(255,255,255,0.5);
}

#bcmenu span {
    padding:0.1em;
    padding-right:1.5em;
    margin:0;
    font-size:18px;
    font-family: Open Sans, Sans Serif;
    text-shadow: 0px 0px 10px #fff;
    color:#113;
    text-align:right;
    align-self:center;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

#bccontenttop {
    margin:1em;
    margin-top:1.5em;
    font-size:18px;
    font-family: Open Sans, Sans Serif;
    text-shadow: 0px 0px 10px #fff;
    line-height:1.5em;
    color:#113;
    margin-bottom:0;
}

#bccontenttop {
    display:flex;
    justify-content:space-between;
}

#bccontenttop p {
    width:48%;
}

#bcmail {
    flex-grow:1;
}

#bccontentmiddle {
    display:flex;
}

#bccontentleft {
    font-size:18px;
    flex: 1 1 100%;
    margin:1em;
    font-family: Open Sans, Sans Serif;
    text-shadow: 0px 0px 10px #fff;
    line-height:1.5em;
    color:#113;
    margin-top:0;
    margin-bottom:0;
    padding-bottom:0;
}

ul {
    margin-bottom:0;
}

#bccontentright {
    flex: 1 2 100%;
    min-width:350px;
    line-height:1.5em;
}

#bccontentright #mc_embed_signup {
    font-size:18px;
    margin:1em;
    margin-right:2em;
    padding:1em;
    padding-top:1em;
    padding-bottom:0.5em;
    padding-right:1.5em;
    padding-left:1.5em;
    font-family: Open Sans, Sans Serif;
    line-height:1.5em;
    color:#113;
    border-radius:5px;
    border:1px solid #90b4fc;
}

#bccontentright #mc_embed_signup:hover {
    border:1px solid #5882d6;
}

p {
    text-align:justify;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

li {
    text-align:justify;
}

#bccontentright #mc-embedded-subscribe-form {
    padding:0em;
    margin:0em;
}

#mc_embed_signup_scroll p {
    text-align:justify;
}


li {
    margin-bottom:0.5em;
}

#bcfooter {
    font-size:18px;
    font-family: Open Sans, Sans Serif;
    text-shadow: 0px 0px 10px #fff;
    color:#113;
    padding-right:2em;
    padding-top:1.5em;
    padding-bottom:1em;
    text-align:right;
}

#bccontentright #mc-embedded-subscribe {
    font-size:20px;
    font-family: Open Sans, Sans Serif;
    font-weight:700;
    letter-spacing:2px;
    margin-top:0.5em;
    background-color:#92db48;
    height:38px;
    color:#311;
    border:1px solid #65b033;
}

#bccontentright #mc-embedded-subscribe:hover, #bccontentright #mc-embedded-subscribe:focus {
    border:1px solid #311;
}

#bccontentright input:hover, #bccontentright input:focus {
    border:1px solid #311;
}

label {
    font-size:18px;
    font-family: Open Sans, Sans Serif;
}

#bcsmall {
    font-size:18px;
    font-family: Open Sans, Sans Serif;
    text-shadow: 0px 0px 10px #fff;
    color:#113;
    display:none;
}

@media (max-width: 768px) { 
#bccontentmiddle {
    flex-direction: column;
}
#bccontenttop {
    flex-direction: column;
    margin:0;
}
#bccontentleft {
    margin:0;
}
#bccontenttop p {
    width:100%;
}
#bcsmall {
    display:block;
}
#bcmail {
    display:none;
}
#bccontentright #mc_embed_signup {
    margin:auto;
}
#bcfooter{
    font-size:16px;
    padding:1em;;
}

}

@media (max-width: 480px) { 
#bccontent {
    padding:0.5em;
}
#bccontenttop, #bccontentright, #bccontentleft, #bccontentright #mc_embed_signup {
    font-size:14px;
}
#bccontentright{
    min-width:50px;
}
#bcsmall {
    font-size:16px;
}
#bcfooter{
    font-size:14px;
}
label, input {
    font-size:14px;
}
}

input {
    font-size:16px;
    font-family: Open Sans, Sans Serif;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    margin:0em;
}

i.fa-li {
    margin-top:2px !important;
}
